* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  margin: auto 10%;
  background: linear-gradient(90deg, #b88009 0%, #22c1c3 100%);
  padding: 0 2%;
}

#game-board {
  display: flex;
  gap: 30%;
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  font-weight: bolder;
  color: rgb(235, 235, 235);
  padding-top: 50px;
}

.add-scores {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#submit-btn {
  border: none;
  padding: 10px 5px;
  margin: 10px;
  border-radius: 3px;
  color: #e0e9e9;
  background: #af9252;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  font-size: 20px;
  font-weight: bold;
}

input {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

::placeholder {
  color: rgb(200, 196, 196);
  font-size: 10px;
  text-align: center;
}

.title {
  display: flex;
  gap: 5rem;
}

.refresh {
  border: none;
  padding: 5px 20px;
  color: yellowgreen;
  font-weight: bold;
}

.scores {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 0 12px;
  margin-top: 20px;
  width: 150%;
}

.scores li {
  list-style: none;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  color: whitesmoke;
}

.scores li:nth-child(even) {
  background-color: #af9252;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}

@media screen and (max-width: 798px) {
  #game-board {
    flex-direction: column;
    gap: 5rem;
  }

  h1 {
    font-size: 30px;
  }

  .scores {
    width: 100%;
  }

  input {
    margin-left: 80px;
  }

  .title {
    gap: 2rem;
  }
}
